p{
    color:rgb(0, 4, 255)
}
h1,h3{
    border:solid;
    color:rgb(128, 0, 0); 
}
.header{
    background-Color: rgb(15, 236, 236);
    display:flex;
    justify-content: space-between;
}
.phone{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    justify-content: flex-end;
}

